@use "../../assets/sass/variables" as *;

.task {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    border: 2px solid black;
    border-radius: 5px;
    width: 80%;

    &__text {
        min-width: 60%;

        &--complete {
            min-width: 60%;
            text-decoration: line-through;
        }
    }
}